/* styling */

/* font-family: 'Roboto', sans-serif; */

/* body {
    background-image: url("../img/header_bg.jpg");
} */

/* img {
    max-width: 1349px;
    height: auto;
    margin: 0 auto;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* img {
    width: 1079px;
    height: 567px;
} */

main {
    /* width: 1px; */
    height: auto;
    margin: 0 auto;
}

.socialMedia {
    margin: 0 40px 0 0;
    text-align: right;
}

.socialMedia i {
    background-color: rgb(202, 202, 202);
    padding: 12px;
    color: #fff;
    /* margin: 25px; */
    /* float: right; */
    margin: 0 -3px 0 0;
}

/* i .fas fa-rss, i .fab fa-twitter, i .fab fa-facebook-f, i .fab fa-google-plus-g {
    margin: 0;
    border: 0;
} */

/* .images {
    position: relative;
} */

.logo {
    position: absolute;
    top: 240px;
    left: 525px;
    width: 300px;
    height: auto;
}

.header {
    /* background-image: url(../img/header_bg.jpg); */
    width: 1349px;
    height: 667px;
}

.headerImg {
    max-width: 1349px;
    max-height: auto;
    /* background-size: cover; */
}

/* .logo {
    width: 240px;
    height: auto;
} */
