/* styling */

/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: auto;
    margin: 0 auto;
}

.socialMedia {
    margin: 0 40px 0 0;
    text-align: right;
}

.socialMedia i {
    background-color: rgb(202, 202, 202);
    padding: 12px;
    color: #fff;
    margin: 0 -3px 0 0;
}

.logo {
    position: absolute;
    top: 240px;
    left: 525px;
    width: 300px;
    height: auto;
}

.header {
    /* background-image: url(../img/header_bg.jpg); */
    width: 1349px;
    height: 667px;
}

.headerBg {
    max-width: 1349px;
    max-height: auto;
}

.headerLogo {
    width: 1349px;
    height: auto;
}

.container {
    background-color: rgb(131, 134, 140, 0.3);
    /* padding-bottom: 10px; */
    height: auto;
}

section {
    width: 960px;
    /* height: auto; */
    margin: -10px auto 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px dashed #000;
}

h1 {
    margin: 0 25px;
}

p {
    margin: 20px 25px;
}